body {
    margin-right: auto;
    margin-left:  auto;
    padding: 50px 80px 50px 80px;
    font-family: 'Noto Sans SC', sans-serif,'Noto Sans TC', sans-serif;
    background: #070707
  }

 /* ==== Text styles ==== */

h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 3.5rem;
    color: white;
}
h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    color: white;
}
h3 {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
    color: white;
}
h4 {
    font-family: 'Russo One', sans-serif;
    font-size: 1rem;
    color: white;
}

 /* ==== Bullets ==== */

p1 {
    font-size: 1.2rem;
    color: white;
}

 p, ul {
    overflow: scroll;
    font-size: 1.1rem;
    color: white;
}
p.credit {
    font-size: 0.9rem;
    color: white;
}

a, a:visited {
    color: #b78bff;
    text-underline-position: under;
    text-decoration: wavy underline #46ff4f;
}

ul {
    margin-top: -1%;
    list-style: none;
    padding-left: 2em;
}

ul li:nth-child(n+2) {
    margin-top: 4%;
}

ul li:before {
    content: '🌱';
    margin-left: -2.2emem;
    padding-right: 1em;
}

 /* ==== Structure ==== */

section {
    display: flex;
    justify-content: space-between;
}

section:nth-child(even){
    flex-direction: row-reverse;
}

section div {
    width: 50%;
}

section div.text {
    padding: 40px;
}

 /* ==== Images ==== */

 div.full-image {
    max-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    }

div.image-1 {
    background-image: url(./images/1.jpg);
    background-position: center center;
}

div.image-2 {
    background-image: url(./images/2.gif);
    background-position: center center;
}

div.image-3 {
    background-image: url(./images/3.jpg);
    background-position: center top;
}

div.image-4 {
    background-image: url(./images/4.jpg);
    background-position: center center;
}

div.image-5 {
    background-image: url(./images/5.png);
    background-position: center right;
}

div.image-6 {
    background-image: url(./images/6.jpeg);
    background-position: center right;
}

div.image-7 {
    background-image: url(./images/7.png);
    background-position: center left;
}

div.image-8 {
    background-image: url(./images/8.jpg);
    background-position: center center;
}

/* --- Responsive tablets ---- */

@media (max-width: 768px) {
        body {
            margin-right: auto;
            margin-left:  auto;
            padding: 30px 50px 30px 50px;
        }
        p, p1, p.credit, ul {
            font-size: 0.9rem;
        }
@media (max-width: 600px) {
       body {
          margin-right: auto;
          margin-left:  auto;
          padding: 10px 10px 10px 10px;
            }
       section div.text {
          padding: 2px;
            }
       p.credit {
          font-size: 0.7rem;
                }    

}
