---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Writing">

  <h1>Writing</h1>
   <p>
  <h3>2022</h3>  
  <br>
      <ul>
      <li>
      <i>Digital Decarbonisation Consensus & Conjectures</i>, a contribution towards better environmental practice with digital media arts for <i>Sunlight Doesn't Need a Pipeline</i> <a href="https://sunlightdoesntneedapipeline.com/2022/08/17/digital-decarbonisation-consensus-conjectures/"> Link</a> 
      </li>
      <li>
        bio arts ~ everyday evolutions with our nonhuman neighbours for BABLab Festival August 2022 <a href="https://bioartsbrum.notion.site/Welcome-to-Bio-Arts-Birmingham-7e0e553bbcb34730a2980454c2af3451"> Link</a> 
        </li>
      </ul>

      <h3>2021</h3> 
      <br>
      <ul>
            <li>
              <i>Roundtable: Can Chinese Science Fiction Transcend Binary Thinking?</i> a conference panel transcribed and published for Science Fiction Research Association (SFRA) with Mia Chen Ma, Yen Ooi, Frederike Schneider-Vielsäcker and Regina Kanyu Wang <a href="https://sfrareview.org/2021/10/18/roundtable-can-chinese-science-fiction-transcend-binary-thinking/"> Link</a> 
            </li>
            <li>
            <i>Finding Space</i>, a speculative short fiction in response to artist Saelia Aparicio's work for <i>Survey II</i>, commissioned by Jerwood Arts <a href="https://jerwoodarts.org/whats-on/closing-words-survey-ii/"> Link</a>
            </li>
            <li>
              Artist interview and profile for the <i>Green Guide for the United Kingdom</i> by ASEF culture360 and Invisible Flock <a href="https://culture360.asef.org/magazine/green-guide-uk/"> Link</a> 
            </li>
            <li>
             <i>A: Assemblage</i> for <i>In, From, and With</i> <a href="https://gracegloriadenis.com/IN-FROM-AND-WITH"> Link</a> 
            </li>
            <li>
            <i>Blurred Events</i>, a speculative short fiction for <i>The End of the Present</i> by The Alternative School of Economics (Ruth Beale & Amy Feneck) <a href="https://www.alternativeschoolofeconomics.org/the-end-of-the-present/"> Link</a> 
            </li>
            <li>
             <i>krill this love</i> a speculative short fiction reflection on <i>Under a two-moon belief system no duality endures</i> an exhibition by Alice dos Reis at Trixie, The Hague  <a href="https://www.trixiethehague.nl/events/under-a-two-moon-belief-system-no-duality-endures/"> Link</a> 
            </li>
            <li>
            <i>Climate Change and Contemporary Chinese Science and Speculative Fiction: Invisible, Extractive and Uneven Boundaries</i>, a conference paper written up for Science Fiction Research Association (SFRA) <a href="https://sfrareview.org/2021/02/15/climate-change-and-contemporary-chinese-science-and-speculative-fiction-invisible-extractive-and-uneven-boundaries-2/"> Link</a> 
            </li>
            <li>
            <i>An interview with Angela Chan about Speculative Fiction & communicating and challenging geopolitical inequalities</i> for <i>Plastiglomerate Rock Dreams It Were a Beautiful Fossil</i> by Annie Mackinnon <a href="https://www.plastiglomerate-rock-dreams.com/"> Link</a></li>
      </ul>
      <br>
      <h3>2020</h3> 
      <br>
      <ul>
            <li>
            <i>In Conversation: Changing Realities and Speculative Fictions in the work of Cao Fei</i> with Gu Shi, Regina Kanyu Wang for Serpentine <a href="https://www.serpentinegalleries.org/art-and-ideas/a-conversation-on-changing-realities-and-speculative-fictions/"> Link</a>  
           </li>
            <li>
           <i>Gender and climate change in China</i> a panel report for NüVoices, an international female and non-binary collective researching on China <a href="https://nuvoices.com/2020/09/02/watch-gender-and-climate-change-in-china-panel/">Link</a>
            </li>
      </ul>
      <br>
      <h3>2019</h3> 
      <br>
      <ul> 
            <li>
            <i>From West to East_ Re-Locating a Speculative Centre - Angela Chan and Ama Josephine Budge</i> for <i>Science Fiction</i> (2020, MIT Press and Whitechapel Gallery) <a href="https://mitpress.mit.edu/9780262538855/science-fiction/"> Link</a> 
            </li>            
            <li>
            Interview with Xia Jia for Dream Babes Zine 2.0 for Dream Babes <a href="https://pssss.co/books/dream-babes-zine-2-0"> Link</a>
           </li>
      </ul>
      <br>
      <h3>2018</h3>
      <br>
      <ul>
      <li>
             <i>w the worm</i> a speculative short fiction by algae-la (Angela) for the roaming exhibition <i>Towards a Common Survival</i> by The Institute of Queer Ecology (IQECO) exhibited at Prairie, Chicago <a href="https://queerecology.org/Towards-A-Common-Survival"> Link</a>
            </li>
      </ul>
          </p> 
</DefaultLayout>
