---
import DefaultLayout from '../layouts/DefaultLayout.astro'

---

<DefaultLayout 
  title="curatorial"
  description="curatorial and exhibition projects by Angela YT Chan."
>
  <h1>Curatorial</h1><br>

    <h3>Public programmes</h3>
        <p>
          I curate online and gallery exhibitions as well as public programmes. 
        </p>

        <h3><a href="https://wellcomecollection.org/event-series/Ys11qhEAACEAgsTe"><i>A Breath of Fresh Air</i></a> for Wellcome Collection (2022)
          </h3> <br><br>
          <div class="container" data-auto-grid="2">
             <p>
             An event series for young people co-curated with Dr Chloe Trainor at Wellcome Collection throughout August 2022. 
             <br> <br>
             It centred air pollution issues relating to climate, health and race justices and I designed an accompanying leaflet <a href="https://wellcomecollection.cdn.prismic.io/wellcomecollection/ed0831ca-123b-4740-88d1-542f1cff6236_A+Breath+of+fresh+Air+resource+PDF.pdf">downloadable here</a>.
            </p>  
             <img src="/curatorialwellcome.png" alt="" width="500"/>
      </div><br><br>
           
        <h3><a href="https://www.andfestival.org.uk/events/turbidity/">Turbidity</a> for Abandon Normal Devices (2021)</h3>
          <p>This curation of films was for the New Cinema Shorts programme for Abandon Normal Devices (AND) Festival, online (2021)
             <br><br>
              The circuit of water movement, from its long journeys across the planet to its ethereal healing within our bodies, brings us directly into the water cycle itself. As it carries itself between our geographies, social and intimate unfoldings, what becomes sedimented, soluble or constantly in flux in our environments?
            </p>
            <div class="container" data-auto-grid="2">
          <p>
              <a href="https://www.andfestival.org.uk/events/turbidity/" target="_blank">Turbidity is a collection of short films </a>that capture the fractals of light, which flicker through the murkiness of movement and change. The works explore displacement, gender fluidity and multi-species conflicts, to accept belonging in its perpetually traversing and unclear state.
              <br> <br>
             The Island is No Home /<a href="https://shamicaruddock.com/" target="_blank"> Shamica Ruddock</a> / 2020<br>
             RIPPLES / <a href="https://www.anukaramischwilischafer.com/" target="_blank">Anuka Ramischwili-Schäfer</a> / 2018<br>
             Voice from Elsewhere / <a href="https://www.lolailai.com/" target="_blank">Lo Lai Lai Natalie 勞麗麗</a> / 2018 /
            </p>
            <img src="/curatorialand.png" alt="" width="600"/>
          </div>
      <br> <br>
    
    <h2>Worm: art + ecology (2014 – 2020)</h2>
          <p>I independently produced a long-term curatorial project called  <a href="http://wormworm.org/"><i>Worm: art + ecology</i></a>
             It focused on communicating climate change issues through contemporary art and creative practices. 
             <br><br>
             <img src="/curatorialworm0.png" alt="worm" width="1200"/>  
             <br>
             Through this, I curated online and gallery exhibition, interviews with practitioners and 
             also delivered public workshops and talks focused on intersectional climate justice issues. See the exhibitions below:
          </p>
      
      <h3><a href="https://britishartstudies.ac.uk/issues/issue-index/issue-18">Climate and Culture Beyond Borders</a> for <a href="http://britishartstudies.ac.uk/">British Art Studies</a>, (2020)</h3> 
          <img src="/curatorialworm4.png" alt="" width="1200"/>
         <p>With this British Art Studies Cover Collaboration feature, which responds to the theme of “British Art and Natural Forces” proposed by the journal’s editors, I bring together four artistic practices alongside my own. They highlight diverse activities among international, socially engaged, creative practices that relate to the core conversations on justice in environmental and climate issues. I encourage us to narrate British artistic engagements with nature through our long-existing and under-represented creative activisms, across geographies and from multiple perspectives of climate justice.
          <br><br>Commissioned by BAS with my <a href="http://pdf.britishartstudies.ac.uk/articles/issue-18-climate-and-culture-beyond-borders.pdf">curatorial statement here</a>
          </p>

      <h3><a href="https://cargocollective.com/worm/Exhibition-and-workshops-Gentle-Straategising-at-MAMA-Rotterdam">Gentle Strategising</a>, MAMA, Rotterdam (2020)</h3>
      <br>
      <div class="container" data-auto-grid="2"> 
          <img src="/curatorialworm5.png" alt="gentle" width="1200"/>  
          <p>
            This full week of collective activities, organised by this year's MAMA Rotterdam 'poule of programme makers' (Angela YT Chan / Worm: art + ecology, Leana Boven, <a href="https://worknot.info/" target="_blank">Arvand Pourabbasi and Golnar Abbasi (WorkNot!)</a>, and <a href="http://www.mary-universe.com/" target="_blank">Mary Ponomareva</a> ) in collaboration with local arts and activism groups.
            <br><br>
            The programme encourages slow conversations, active co-learning and practical reflections that are methods of our Gentle Strategising. Through scheduled daily activities facilitated by our invited groups, a small press and zines ‘window bookshop’, banners and mural art, and online participation and streaming, Gentle Strategising offers a week that nurtures respectful and collaborative strategising as the foundation for just and safer spaces.
            <br><br>
            Funded by MAMA Rotterdam
          </p>
        </div><br><br>

        <h3><a href="http://cargocollective.com/worm/filter/Exhibitions/Climate-Knowledges-an-exhibition-by-Worm-at-MAMA-Rotterdam">Climate Knowledges</a>, MAMA, Rotterdam (2020)</h3>
          <img src="/curatorialworm3.png" alt="" width="1200"/>
             <p>'Climate Knowledges' looks to the past to shape our futures, and we explore alternative ways to think about the truths of the climate crisis. Through speculative ways of storytelling, from ancient mythologies to futuristic science fictions, we confront the colonial and patriarchal origins, and their exploitative processes, that produced the current climate crisis. Today, we still see the influences of these origins with the appropriation of race, class and gender politics in the mainstream climate debates.
            <br><br>
            The project was exhibited<a href="https://thisismama.nl/en/events/home-en/climate-knowledges/" target="_blank">MAMA in Rotterdam</a> with <a href="http://anniemackinnon.com/index.html" target="_blank">Annie Mackinnon</a> (UK), <a href="https://ntjamjosefa.com/" target="_blank">Josèfa Ntjam</a> (FR) & <a href="http://www.isfdb.org/cgi-bin/ea.cgi?213163" target="_blank">Regina Kanyu Wang</a> (CN). 
            Climate Visual Cultures Library with indigenous and climate activists of colour based in the Netherlands: <b>Contributors: </b>
            Chihiro Geuzebroek (<a href="http://radicalfriends.com/" target="_blank">Radical Friends</a> (film, 2014), <a href="https://code-rood.org/en/shell-must-fall/" target="_blank">Shell Must Fall,</a> <a href="https://www.facebook.com/ClimateLiberationBloc/?modal=admin_todo_tour" target="_blank">Climate Liberation Bloc</a>, <a href="https://stichtingaralez.wordpress.com/our-team/" target="_blank">Aralez</a>) 
            <a href="http://teresaborasino.com/work/give_a_shit/" target="_blank">Teresa Borasino</a>
            <a href="https://www.fossilfreeculture.nl/" target="_blank">Fossil Free Culture NL</a> 
            <a href="https://www.wijstoppensteenkool.nl/" target="_blank">Wij Stoppen Steenkool </a>
            <a href="https://twitter.com/freewestpapuanl?lang=en" target="_blank">Free West Papua Campaign NL</a> 
            Funded by Mondriaan Fund, Het Nieuwe Instituut, Gemeente Rotterdam, Stichting Bevordering van Volkskracht, MAMA
          </p>  
    <br><br>

        <h3><a href="http://cargocollective.com/worm/filter/Exhibitions/Refuse-v-n-online-exhibition-2018-Documentation">Refuse: (v)(n)(-)</a>, online, (2018)</h3>  
            <p>
            This curatorial project frames today’s environmental challenges alongside the current climate for creative production, through thirteen unique works by sixteen artists and practitioners. 
            Exploring three interpretations of the word refuse, as a verb, a noun, and a hyphenated potential, <i>Refuse: (v)(n)(-) </i>  focuses on ecological resistance, deterioration and restoration:
            </p>
            <div style="padding:60.14% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/249997358?h=d5e3a35f8d&color=ff0179&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          <div class="container" data-auto-grid="2">  
            <br>
            <p>
              <ol>
              <li>to refuse (v): to reject/decline<br><br>‘Refuse’ as a verb calls upon an activist resistance against the systemic injustices brought on by exploitative neoliberal interests, which enforce climate denial and perpetuate justifications to contribute to global climate change.
              </li>
              <br>
              <li>refuse (n): waste/pollution
                <br>
                Secondly, paying attention to ‘refuse’ as a noun helps formulate ways to consider the materiality, processes and planetary limits of pollution, especially as our hazardous production of waste will occupy and overspill into eras to come.
                </li>
                <br>
              <li>to re-fuse (v): to repair/reconnect
                <br>
                Thirdly, interpreting ‘refuse’ as a hyphenated form conceptualises a space for speculative dimensions away from the singular, apocalyptic narrative of climate change. Focusing on acts of healing a damaged ecology, to ‘re-fuse’ entails a synergy of hope and action. 
                </li>
              </ol>
          </p>
             <p>
            Why do we choose to refuse certain matters and human and non-human beings from participating in the conversations about the environment? What does this exclusion mean in terms of who and what has agency in the political power struggle of climate change? How do we culturally address issues on the frontline of environmental degradation through meaningful and progressive expressions, without compromising and aestheticising the crisis? How do we ‘re-fuse’ our social, economic, technological and political ecologies - locally and globally - for a positive and realistic attitude towards climate change? The multiple definitions of the word ‘refuse’ exemplifies the need to have manifold interpretations and discussions about environmental issues, which is the foundation of <i>Refuse: (v)(n)(-).</i>
            </p>
          </div>
         <p>
            Featured artists and practitioners: 
            <br><br>
            Connor Brazier, Dave Young, Broadleaf Theatre, Samuel Capps, Melmel Chen, Elena Colman, Ralph Dorey, Annabel Duggelby, Jamie Hudson, Nana Maclean, Sean Roy Parker, Rachel Pimm, Alex Ressel & Kerri Meehan, Jakob Kudsk Steensen, and Matteo Zamagni
            , with design and coding by Al Walker. 
            <br><br>
            Funded by Kulturrådet (Arts Council Norway)
          </p>
      <br><br>

          <h3><a href="http://cargocollective.com/worm/filter/Exhibitions/Tipping-Points-Flourish-and-Collapse-in-the-Circularity-of-the">Tipping Points</a>, Podium, Oslo (2016)      
          </h3>
            <img src="/curatorialworm1.png" alt="" width="1200"/>
          <p> 
            It questions, since nature has been changed by humans and capital through the industrialised production of natural elements and beings, where did the natural belong and where will it return/be displaced to in the future after these processes? 
            <br><br>
            From microscopic to macroscopic in scale; from the technological manipulation of the genes to the geological deconstruction of natural landscapes, the effects of the manipulations accumulate to the ‘tipping points’ of climate change. 
            <br><br>
            The exhibition opened to the public for two weeks from Earth Day 22nd April 2016 with performances from Andreas Ervik with a ‘SANKE of Norway brand talk’, complete with product demonstrations and sample giveaways, and a live rendition of ‘worming out of skum’ by Rachel Pimm and Lori E. Allen. 
            <br><br>
            Funded by Kulturrådet (Arts Council Norway)
          </p>
      </DefaultLayout>
