---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="arts_research">
  <h1>Research Art</h1><br>

  <p> My art making practice uses research into climate narratives as a starting 
    point to question how power influences the unjust realities of climate change. 
    Experimenting with video work, conversations, illustrations, data science and organic materials, 
    I'm interested in people and justice centred approaches. In my work, I often think about the 
    timelines of climate change, and how we live in overlapping unfinished histories - legacies and futures 
    - shaped by systems of people, technologies and environmental ecologies.
    <br><br> 
    <br><br> 
    Current slow projects (seeking funding and collaborators): 
    <br> 1) 'Sustainable Military 2050': Investigating the Contemporary Climate Narrative of the UK Defence Sector with Colonial Climate Histories (2022-); 
    <br> 2) British colonial climate history themed Art Attack series (2022-)</p>
  </p>
    <br><br> 
  <h2>Waterscapes on Land (2023)</h2>
<br> 
      <h3>Video with sound (5:00 mins) and two digitally illustrated outdoor banners (~7x5m x2) </h3>
<br> 
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/869823727?h=79296b9def&loop=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<p><a href="https://vimeo.com/869823727">Waterscapes On Land (2023) - Angela YT Chan</a> from <a href="https://vimeo.com/angelaytchan">Angela YT Chan</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

      <div class="grid">
        <div class="small-12">
        </div>
        <div class="small-8 medium-6 space-content">
          <p>
            Waterscapes On Land (2023) is a two-part project that is newly commissioned by Focal Point Gallery (Southend-on-Sea, UK), in partnership with the Catchment to Coast project. Led by Southend City Council, it is one of 25 projects within the Environment Agency’s Flood and Coastal Resilience Innovation Programme (FCRIP).
            <br><br>
            Two digitally illustrated banners make up Focal Point Gallery's annual <a href="https://www.fpg.org.uk/exhibition/railway-bridge-commission-angela-yt-chan/">Railway Bridge Commissio</a> on Southend high street as a new temporary site-specific public artwork from 5 Aug to 22 Oct 2023. 
            <br><br> 
            The video artwork is on show on the Big Screen Southend from the 30th September 2023 to 6th January 2024, as part of the exhibition <a href="https://www.fpg.org.uk/exhibition/storm-warning/">‘Storm Warning: what does climate change mean for coastal communities?’</a> The exhibition is a collaborative two venue project in partnership with Newlyn Art Gallery & The Exchange, Penzance, which seeks to raise awareness of the impact of the climate crisis on coastal communities in South Essex and Cornwall. 
            <br><br><br>
            (Exhibition text)<br><br> 
            "Meandering through a map of hydraulic catchments, Angela YT Chan’s video work, Waterscapes on Land, 2023, follows the water’s flow towards its destination of the coast, before restarting its cycle as rain. It interacts with several waterscapes through nature-based solutions and hydro-activities.  The illustrative style inspired by geography textbook diagrams is made playful by a pastel palette that collages digital drawings, animation, and photographic and generated media. This video work is a continuation of Chan’s Railway Bridge Commission for Focal Point Gallery on display on Southend High Street until 22nd October, in partnership with the ’Catchment to Coast’ project. Led by Southend City Council, this project is one of 25 projects within the Environment Agency’s Flood and Coastal Resilience Innovation Programme (FCRIP). 
            <br><br> 
            Chan’s artwork focuses on six different sites covered by the project across upper, middle, and lower hydraulic catchments, which encompass areas like woodlands, allotment sites, domestic gardens, and sections of coastline. Each location will use a unique combination of nature-based solutions, such as leaky dams and bespoke rainwater capture to be re-used as part of soil and landscape management techniques. In addition, a series of surface water flood warning beacons will be installed to improve warnings to communities, so they are better prepared to respond and recover. Hydro-citizenship will play a large role in delivering these measures across the catchments, giving the community the opportunity to get involved in the design, implementation and evaluation of these innovative measures. Hydro-citizenship is being water smart as an individual and within your community, reducing pressure on the local sewage system and improving resilience to flooding in local neighbourhoods. 
            <br><br> 
            Visually mapping these sites, the artist takes us through Southend and Thurrock’s varied landscapes that are facing the impacts of our changing climate. In particular, the artworks explore the timelines and activities of pioneering, nature-based solutions that relate to how we take care of land, public and private, and how we improve resilience from flooding and coastal erosion."  
          </p>
      </div>
          <div class="small-8 medium-6 space-content">
            <img src="/rwb1.jpg" alt="a view of a busy seaside high street with people walking. Above them is a railway bridge, decorated with a horizontal banner by the artist. It depicts a pastel green and pink landscape of a coastal town and illustrates various nature-based ecologial solutions to flood risks and coastal erosion, such as water pipes, vegatation, weather stations" max-width= 1000 class="responsive" >
            <img src="/rwb2.jpg" alt="from the other direction of the road, a view of a busy seaside high street with people walking. Above them is a railway bridge, decorated with a horizontal banner by the artist. It depicts a pastel green and pink landscape of a coastal town and illustrates various nature-based ecologial solutions to flood risks and coastal erosion, such as water pipes, vegatation, weather stations" max-width= 1000 class="responsive" >
            <img src="/rwb3.jpg" alt="a pastel green and pink close up of one of the banners showing scanned salad leaves growing on an allotment and illustrated irrigation pipes. words in boxes read 'Allotments and Ruskin Road' and 'Community Water Capture and re-use'" max-width= 1000 class="responsive" >
            <img src="/rwb5.jpg" alt="a pastel green and pink close up of one of the banners showing scanned round cartoon houses and illustrated irrigation pipes, as well as some flora and fauna. words in boxes read 'Silverdale Avenue, Balstonia Park & Juniper Road' and 'Property level rainwater harvesting and re-use'" max-width= 1000 class="responsive" >
            <img src="/rwb4.jpg" alt="a white placard with black text, which reads the information about the works as written on this webpage" max-width= 1000 class="responsive" >
            <p>Installation views of Angela YT Chan, ‘Waterscapes on Land’, Railway Bridge Commission 2023. Courtesy Focal Point Gallery. Photo: Anna Lukala</p>
          </div>
        </div> 
  <br><br> 
  <br><br>
  <h2>Rain Paradox (2021)</h2>
  <br>
      <h3>Video with sound by <a href="https://soundcloud.com/aircode">aircode</a>, (70 mins)</h3>
  <br>
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/620065013?h=c7306ecbc4&=1&color=2954EE" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      <p><a href="https://vimeo.com/620065013">RAIN PARADOX (2021) trailer -  Angela YT Chan</a> from <a href="https://vimeo.com/angelaytchan">Angela YT Chan</a> on <a href="https://vimeo.com">Vimeo</a>. (Content note: pulsating visual imagery) </p>

      <div class="grid">
        <div class="small-12">
        </div>
        <div class="small-8 medium-6 space-content">
          <p>The Great British Rain Paradox, published in 2020 by RB Finish and supported by the UK government’s Environmental Agency, warns about the UK’s projected water scarcity crisis within the next 20 years. The report describes a ‘paradox’ that while 77% of British survey respondents “believe the UK is a ‘wet and rainy country’” and assume there are adequate water reserves, “in reality our demand for water could soon outstrip supply”. 
          <br><br>
              In <i>Rain Paradox</i>, I present how official and local climate framings differently influence our public views of climate change. I critique the report’s language and assertions as aligning with wider government policies that problematically merge pro-border, conflict-ready and for-profit strategies as climate solutions: a narrative that erases state and corporate accountabilities, posing a continued threat to the social inequities exacerbated by the climate crisis. 
           <br><br>    
           <i>Rain Paradox</i> highlights the counter-narratives with ‘living room conversations’ between community-minded citizens around the UK. We discuss their own water stories and landscapes, cultural water practices, perspectives on water scarcity, and migratory contexts of water and borders. Moving between timelines, data, geographies, speculative drawings and water cycles, <i>Rain Paradox</i> archives this specific moment in climate history to be revisited in 20 years’ time.        
              <br><br>  
              Commissioned by FACT (Liverpool, UK) as part of the Jerwood Arts FACT Fellowship Programme, supported by Jerwood Arts. Supported using public funding by Arts Council England and funded by Liverpool City Council. With thanks to Laolu Alatise, Yasmin Begum, Kaajal Modi, Raman Mundair, Shamica Ruddock, Jennifer Edwards,  Amahra Spence, Fatima Tarkleman.
              <br><br>  
              Exhibited at FACT for the Fellows' group show,  <i>Uncertain Data </i>: Andrius Arutiunian // Angela YT Chan // Tessa Norton // Yambe Tam, 
              15 September - 3 October 2021   
              <br><br>  
              Below video: Angela speaks about the process of making <i>Rain Paradox</i> for its exhibition display at FACT, Liverpool. 
             </p>
             <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/797720484?h=478b36ee23&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Rain Paradox (2021) - artist and work intro"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
          <div class="small-8 medium-6 space-content">
            <img src="/rainparadoxweb2.jpg" alt="an exhibibition space with four colourful comic strip banners hang on a tall wall as 3 people view a video monitor to the right" max-width= 1000 class="responsive" >
            <img src="/rainparadoxweb3.jpg" alt="4 comic strip vertical banners. left image shows a red comic strip of a desert scene, the second image shows a grey and purple comic strip of underground pipes, third image shows a light blue background with water treatment plant and earth cross-section, fourth image shows a tree on the right and a mound of moss movng through an urban environment " max-width= 1000 class="responsive" class="responsive">
            <img src="/rainparadoxweb4.jpg" alt="digital illustration of grey and white water pipes with a 3D water splash in the middle" max-width= 1000 class="responsive">
            <img src="/rainparadoxweb5.jpg" alt="a horzontal gradient blue to white background with drawings of two boxes side by side connected by pipes. left box shows a 3D water splash and the right the UK heatmap for water scarcity. subtitle reads How does it frame climate change and resource scarcity" max-width= 1000 class="responsive">
            <img src="/rainparadoxweb7.jpg" alt="a horzontal gradient blue to white background with drawings of one large box on the left connected by pipes to three boxes in a column on the left. The left box shows a screenshot of a report with the title Escaping the Jaws of Death: ensuring enough water in 2050. the subtitle reads These divert from the systems of state neglect and profiteering of extractive industries" max-width= 1000 class="responsive">
            <img src="/rainparadoxweb8.jpg" alt="a horzontal gradient blue to white background with drawings of one large box on the left connected by pipes to three boxes in a column on the left. The left box shows a red blue and green river line map and the right 3 boxes show 3 types of 3D water splashes. the subtitle reads Today's counternarratives across regional communities" max-width= 1000 class="responsive">
            </div>
            </div>
      <br><br> 
      <br><br> 
    <h2>[Export_Explode> (2021</h2>
        <br> 
        <h3>Video with sound by <a href="https://soundcloud.com/anssss">Ans M</a>, (15 mins)</h3>
         <br> 
      <div class="grid">
        <div class="small-12">
        </div>
        <div class="small-8 medium-6 space-content">
         <p>
            <i>[Export_Explode></i> identifies the unfinished histories of Britain’s explosives manufacturing, from their use in industrial and imperial expansions worldwide since the late 19th century, to their active legacies in contemporary extractivism and conflict.
                <br><br>
                The research project consists of a short film and additions to the existing Explosives Trail onsite at the former Pitsea Explosives Factory on the Thames Estuary. <i>[Export_Explode></i> surveys how the British Explosives Syndicate and Alfred Nobel ensured their dynamites lay the technological and commercial frameworks for global resource extractions by blasting and mining, to the benefit of the British Empire, its clients and its wartime allies. The project expands towards Pitsea Explosives Factory's international histories for the first time, to centre the journeys of Nobel’s explosives once they left Pitsea, as they traversed by water domestically and overseas to be detonated and cause irreversible degradation to landscapes and communities worldwide. 
                <br><br>
                <i>[Export_Explode></i> further explores how these strategies for profit and power have evolved into other forms since the factory closed in 1929, in so-called ‘peacetime’. The project is produced in acknowledgment of the UK Government’s recent increased funding in the defence sector, its largest since the Cold War. It relates history to the present in how Britain’s arms trade and colonial legacies continue to drive unrest and conflict today, especially in regions of the world already rendered vulnerable by climate change and exhaustive natural resource extraction. <i>[Export_Explode></i> also responds to the rising anti-immigrant sentiments and resurging nationalism that are extensions of British colonial practices. 
                <br><br>
                These issues connect back to the former explosives factory site, which is now a popular bird watching nature reserve, Wat Tyler Country Park. <i>[Export_Explode></i> compares the ecological revitalisation of a place that was once a key manufacturer of explosives, with the long term ecological and human destruction its products scarred in various global geographies, to consider devastation, displacement and migration. It reminds that Britain’s heritage sites are not neutral, and their cultural narratives must reflect on Britain's complex, violent and ongoing histories that are complicit in today’s anxieties and geopolitical activities involving resource scarcity, conflict and climate change. 
             </p>  
            </div>
        <div class="small-8 medium-6 space-content">
            <img src="/explodeweb7.png" alt="1" max-width= 1000 class="responsive" >
            <img src="/explodeweb6.png" alt="2" max-width= 1000 class="responsive" >
            <img src="/explodeweb5.png" alt="3" max-width= 1000 class="responsive" >
            <img src="/explodeweb4.jpg" alt="4" max-width= 1000 class="responsive" >
            (photos: Jonathan Juniper)
            <img src="/explodeweb0.png" alt="6" width="1000" class="responsive" >
            <i>[Export_Explode></i> at Wat Tyler Country Park, in Pitsea, Essex, among the many sites of the festival <i>Estuary 2021 </i>
        </div></div>
    </div>
</DefaultLayout>
