---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="arts_talks_workshops">
  <h1>Talks and Workshops</h1><br>
  <div class="container" data-auto-grid="2"> 
   <p>
    I regularly give public talks as part of museum and gallery public programming, as well as conferences related to the climate, environmental, technology and literary sectors.
    <br><br>
    My talks relate to commissioned briefs and intended audiences through topics across arts and climate change. In particular, I enjoy talking about my research and artistic/curatoiral practices that involve: climate and racial justice, climate framings and narratives, data, technologies, digital media arts, science fiction, resource (water) scarcity, British colonial histories, conflict/military, "sustainability" in the arts sector and cultural workers' climate organising.  
  </p>
    <img src="/talks1.png" alt="" width ="600" />
    <img src="/workshop3.png" alt="" width ="800" />
    <img src="/workshop4.png" alt="" width ="800" />
    <img src="/workshop1.png" alt="" width ="800" />
    <img src="/workshop2.png" alt="" width ="800" />
  <p>
    (Above: row 1: climate justice rider writing workshop for cultural workers and row 2: workshop experiments  with digital mapping tools for speculative climtate storytelling, placing narratives in the real and imaginary worlds.) 
    <br><br>
    I create and deliver workshops to diverse publics and artist networks. I offer introductory to intermediate sessions on:
    <br><br>
    + climate change issues (creative climate narratives, people and power, climate and youth activism, colonial climate histories, community climate knowledge) 
    <br><br>
    + artistic methods (environmentally and socially responsible arts practices, digital mapping tools for climate storytelling, science fiction reading groups, climate justice riders). 
  </p>
    <p>
    <img src="/talksstencil.jpeg" alt="" width ="600" />
    <p>
    <img src="/talks2.jpeg" alt="" width ="800" />
  <p>
    Youth groups I have worked with for extended weekly sessions include the <i>Art Assassins</i> at South London Gallery (Summer 2019) who self-directed their own comic book project, and the <i>RawMinds Ambassadors</i> at Wellcome Collection (April - September 2020), who organised a webinar event with invited speakers for other 14-19 year olds, to explore the globally uneven climate impacts of food, ‘sustainable’ fashion and futures.
    <br><br>
    (Image: top: Climate Stencil Workshop, stencil design by Ffion in Abergavenny, Wales, left: illustration by Immy Perryman for the RawMinds Ambassadors' event with the Wellcome Collection.)
    </p> 
  </div>
  <br><br>
  <h2>Timeline of public events</h2>
  <p>This list excludes non-public talks and workshops for student groups - see <a href="/teaching/">Teaching</a></p>
      <h3>2023</h3>  
      <p>
        New Contemporaries,
        Whitechapel Gallery,
        re:arc institute,
        Arcadia Missa,
        Julie's Bicycle,
        Museum of the Home,
        PEER
      </p>
      
      <h3>2022</h3>   
      <p>
        Signal Film & Media,
        Wysing Arts Centre,
        London College of Communication,
        Bow Arts,
        Kaleidoscope,
        Dissonant Futures Collective,
        A Curatorial Thing and SixtyEight Art Institute,
        Across RCA,
        Huntingdonshire Futures,
        Social Cinema,
        ESEA Heritage Month,
        Autograph,
        Peak Cymru,
        Centrale Fies,
        South London Gallery,
        Winchester School of Art,
        SWAY,
        Barbican,
        Radar LU Arts,
        Dissonant Futures Collective,
        Royal Conservatoire Scotland,
        Nottingham Contemporary,
        Bow Arts,
        Unctuous Between Fingers,
        Tate St Ives,
        Henry Moore Institute
      </p>
      <h3>2021</h3>     
      <p>
        Jerwood Arts,
        The Barber Institute of Fine Arts,
        Whitechapel Gallery,
        KCL Lau institute,
        Sheffield DocFest,
        Cove Park,
        Parallel State,
        Watermans Art Centre,
        Mycological Twist,
        Spike Island Associates,
        Science Fiction Research Association Conference,
        2NQ,
        Complicité,
        Aarhus University,
        VirtuallyReality and Struggles for Sovereignty,
        Techne, Loughborough University London,
        Hypericum / Abandon Normal Devices,
        Bagri Foundation,
        Artsadmin's Season for Ex-Change,
        Nonsuch Studios,
        MAIA
      </p>
      <h3>2020</h3>  
      <p>
        Metal Culture,
        Arts Catalyst,
        System of Systems,
        Art & Technology Series - Bloomberg x Hyundai,
        FIBER2020,
        Bloc Projects,
        LSFRC Conference 2020 - Beyond Borders,
        Season for Change,
        Wellcome Collection, Youth Group: RawMinds
      </p>
      <h3>2019</h3>  
      <p>
        V&A Museum,
        Moon Festival,
        Mother Tongues,
        Ghost Camp 3,
        "Inquiry into the Civic Role of Arts Organisations,
        Calouste Gulbenkian Foundation",
        London Design Biennale,
        University of Sheffield,
        Horniman Museum,
        INIVA,
        Dream Babes,
        Mansions of the Future,
      </p>
      <h3>2018</h3>  
      <p>
        not/no.w.where,
        SPACE and London Creative Network (LCN),
        V&A,
        ICA,
        daikon*,
        Tenderpixel,
        Peak Art,
        Somerset House Earth Day 2018,
        Poppositions Art Fair,
        Wilson Museum
      </p>
      <h3>2017</h3>  
      <p>
        Cell Project Space, 
        Two Queens
      </p>
  

                                      
  
  
  </div>
</DefaultLayout>
