---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="illustration">
  <h1>Illustration</h1>
  <br>
  <h3>2023</h3>  
  <br>
    <ul>
      <li><i>tba</i>	for Dissonant Futures Collective <a href="https://www.dissonantfuturescollective.co.uk/"> Link</a>
     </li>
    </ul>
  <h3>2022</h3>  
     <br>
     <ul>
      <li><i>Moon Photosynthesis</i> for Journey Planet's Issue 70, <i>Chinese Science Fiction & Space Part 2</i> <a href="http://journeyplanet.weebly.com/journey-planet---2021-hugo-nominee/issue-70-chinese-science-fiction-space-part-2"> Link</a>
      </li>
      <li><i>Moon Photosynthesis</i> for Arcadia Missa Publications <a href="https://www.southlondongallery.org/events/how-to-sleep-faster-journal-launch/"> Link</a>
      </li>
  </ul>
  <br>
  <h3>2021</h3>
  <br>
   <ul>
      <li><i>Soft Soak</i> with Myco-lective for Chisenhale <a href="https://mycolective.cargo.site/"> Link</a>
      </li>
      <li><i>Lotus</i>	for 馋Chán <a href="https://chanmagazine.com/Angela-Chan"> Link</a>
      </li>
  </ul>
</DefaultLayout>
