---
import DefaultLayout from '../layouts/DefaultLayout.astro'

---

<DefaultLayout 
  title="Science and Speculative Fiction"
  description="Science and Speculative Fiction activities, including research and reading groups and publications"
>
    <h1>Science and Speculative Fiction</h1>
      <p>I work with science and speculative fiction through literature and art, 
        collaborating with authors, translators and editors worldwide. </p>
 
      <h2>Publications</h2>
      <br>
      <div class="container" data-auto-grid="2"> 
        <p> 
          My writing is published in <a href="https://mitpress.mit.edu/books/science-fiction-1">
            <i>Science Fiction</i> (2020, MIT Press and Whitechapel Gallery)</a>
            <br><br> 
            My paper <i>Climate Change and Contemporary Chinese Science and Speculative Fiction: 
              Invisible, Extractive and Uneven Boundaries</i>, is published in <a href="https://sfrareview.org/2021/02/15/climate-change-and-contemporary-chinese-science-and-speculative-fiction-invisible-extractive-and-uneven-boundaries-2/">
              SFRA Review, Vol. 51, No. 1.</a> It situates Chinese climate SF within 
              the geopolitics of climate change and I presented it at LSFRC's <a href="http://www.lsfrc.co.uk/category/beyond-borders/">
              Beyond Borders: Empires, Bodies, Science Fictions</a> conference, as well as the livestreamed and recorded 
              Hybrid Conference for <a href="https://2020.fiberfestival.nl/event/conference/">FIBER Festival</a>. Listen back <a href="https://soundcloud.com/angelaytc/chinese-climate-sf-angelaytchan">here</a> 
          </p>
          <img src="/sf2.jpg" alt="" width ="300" />
          <img src="/sf3.png" alt="" width ="300" />
          <p>
            I wrote about SF and interviewed science fiction authors Xia Jia for <a href="https://pssss.co/books/dream-babes-zine-2-0">
            Dream Babes Zine 2.0 (PSS)</a> and Gu Shi and Regina Kanyu Wang for filmmaker <a href="https://www.serpentinegalleries.org/art-and-ideas/a-conversation-on-changing-realities-and-speculative-fictions/">
            Cao Fei's London exhibition</a>. 
          </p>
            <p>
              I discussed colonial histories and science fiction's ability to ‘tell truthful histories and envision just futures together’ through art and VR technologies with artist Beatrice Glow for the British Science Fiction Association (BSFA) journal <a href="https://vector-bsfa.com/current-issue/">Vector No 293 on Chinese SF (2021)</a>. 
            </p>
            <img src="/sf5.png" alt="vector magazine with a red cover and a centred photograph of a chinese woman at a hotel counter" width ="300" />
            <img src="/sf4.png" alt="" width ="300" />
            <p>
            For the SFRA 2021 conference, <a href="https://sfrareview.org/2021/10/18/roundtable-can-chinese-science-fiction-transcend-binary-thinking/"><i>Can Chinese Science Fiction Transcend Binary Thinking?</i></a> gathered SF scholars Mia Chen Ma, Yen Ooi, Frederike Schneider-Vielsäcker, Regina Kanyu Wang and myself for a roundatable session. It is published in <i>SFRA Review, vol. 51, no. 4</i>, the flagship publication of the Science Fiction Research Association.
           </p>
           <br>
          </div>

       <h2>London Science Fiction Research Community (LSFRC)</h2>
       <br>
       <div class="container" data-auto-grid="2">
          <p>I also co-direct the <a href="https://www.lsfrc.co.uk/">London Science Fiction Research Community (LSFRC)</a>. This year’s LSFRC theme for our monthly reading group and annual conference is <a href="http://www.lsfrc.co.uk/reading-group/in-out-of-time-framing-the-2022-2023-lsfrc-theme-november-reading-group-announcement/">In & Out of Time</a>.  </p>
          <img src="/sf1.png" alt="" width ="500" />
       </div>
       <br><br>
       <h2>London Chinese Science Fiction Group<br>科幻研究在伦敦</h2>     
          <p>I co-founded and formerly co-directed the <a href="https://twitter.com/LondonChineseSF">London Chinese Science Fiction
          Group (LCSFG)</a> between April 2019-April 2022. Alongside Guangzhao Lyu, I co-curated the programme of translated readings and organised the 
          monthly discussion meetings hosted at UCL and online. With these sessions, we facilitated rich dialogues between readers, authors and translators to explore the themes across Chinese SF.</p>

  
</DefaultLayout>
