---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="arts_collaborations">
      <h1>Collaborations</h1><br>
      <h2>forestscapes with Public Data Lab</h2>   
      <p><i>forestscapes</i> is a “collective inquiry” between researchers (geography, digital humanities) and artists (visual, sound, creative tech) into forests as living cultural landscapes, using generative arts and sound materials to explore "narrating and relating to forests, forest issues and forest protection and restoration efforts." 
        I joined the collaborative project in April at the King's College London workshop, where we considered the field recordings of forest-related environmental research alongside methods for creating soundscapes for open source monome norns 
        (the use Supercollider software scripts). In June, we developed the project further at the <a href="https://mhep.github.io/hackathon/">Environmental Data, Media, and the Humanities Hackathon</a>, Potsdam, through video and soundscaping and workshopping with hackathon participants to expand on making forestscapes. 
        forestscapes also featured as a <a href="https://jonathangray.org/2023/06/03/republica">listening lab at re:publica 23, Berlin</a> and the project continues to slowly grow. 
         <br>More about <a href="https://publicdatalab.org/projects/forestscapes/">forestscapes</a> and at <a href="https://publicdatalab.org/">The Public Data Lab</a>.</p>
         <img src="/collaborators4.png" alt="6 pink tree trunks appear with a glitch filter on a background of green. the word forestscapes in white italic lettering at the bottom of the image" width = "1200">
      <br> <br>
      <h2>Hong Kong Future Diaspora 香港離散之後 by Eelyn Lee (2022-)</h2>   
      <p>"Hong Kong Future Diaspora [Work in Progress] is the second cycle of Eelyn's <i>Performing Identities</i>,
         an expansive project that explores what it means to be East and Southeast Asian (ESEA) in the UK today." 
         I collaborated with Eelyn Lee, Clara Cheung, Dr Wayne Wong, Jan-Ming Lee, Anna Chan, Jonathan Tang, 
         Franco Ho, Shan Ray Cheung and Sunshine Wong to devise "a series of contemporary mythical characters. 
         Centring embodiment, conversation and improvisation, the group has created worlds and characters that forge a speculative ‘Hong Kong-ness.’"  
         <br>More <a href="https://www.eelynlee.com/item/hong-kong-future-diaspora">here</a> and at <a href="https://www.blocprojects.co.uk/exhibitions-events/2022/hong-kong-future-diaspora">Bloc Projects</a>, Sheffield.</p>
         <img src="/collaborators1.jpeg" alt="a photo of the exhibition space shows a video screen on a black curatined wall on the left with a mythical person performance and on the right with monochrome photos mindmapped across the white wall" width = "1200">
      <br> <br>
      <h2>WORLDING (2022)</h2>
      <p>
        I was brought together with socially-engaged artist <a href="https://slyrabbit.net/">
          Hwa Young Jung</a> by <a href="https://www.andfestival.org.uk/">Abandon Normal Devices</a> 
        to form a team with AND's director Ruth McCullough for the inaugural <i>WORLDING</i> programme. 
        This incubation workshop series hosted by <a href="https://cocreationstudio.mit.edu/">MIT Open Documentary Lab's Co Creation Studio</a> with Unity,
        aimed to explore co-creation methodologies and real-time 3D technologies towards collective 
        practices on socially just climate futures. "WORLDING is a first of its kind research and development initiative, exploring climate futures at the intersection of documentary, land-use planning, speculative modelling and game-engine technologies."
        <br><br>
        Our team <i>Wild Natures</i> was led by Hwa Young's
        <a href="https://slyrabbit.net/ptown-bay-mmxxx/"><i>PTown Bay MMXXX</i></a>, a "board game co-created with young people at the Nacro Education 
        and Skills Centre in Peterborough, UK who are learning outside the mainstream education system. 
        The game explores the current and near future aspirations of young people faced with multiple disadvantages."
        <br><br>"Wild Natures considers ideas of what is ‘natural,’ what belongs where and who makes these decisions. This will be explored from the perspective of young adults on probation through interactive gaming."
        More information about our activities in a Q+A <a href="https://www.andfestival.org.uk/blog/qa-with-wild-natures-lead-artist-hwa-young-jung-and-artist-angela-yt-chan/">here</a>, 
        the other four teams' brilliant projects <a href="https://cocreationstudio.mit.edu/worlding-program-and-cohort-announced/">here</a> and the WORLDING programme <a href="https://cocreationstudio.mit.edu/worlding-videos/">here</a>.
      </p>
      <img src="/collaborationmit.png" alt="a photo of the exhibition space shows a video screen on a black curatined wall on the left with a mythical person performance and on the right with monochrome photos mindmapped across the white wall" width = "1200">
      <br> <br>
      <h2>ESEA Artists' Futures (2022-)</h2>
      <p>A collective of East and Southeast Asian art workers across the UK with international allies organising against racism in the cultural sector. I convened the Midlands roundtable as part of a regional series of internally-facing events that will build towards a wider community vote on actions. More online soon. 
      <br> <br>
      <h2>Hypericum Working Group (2020)</h2> 
      <p>A research project developing a collectively produced, ever-evolving code of practice for feminist, antiracist, anticolonial and environmentally sustainable arts organising. 
        <br>More <a href="https://hypericum.obsidiancoast.art/">here</a>.</p>
      <img src="/collaborators2.jpg" alt="an illustration of violet, yellow and pink wildflowers against a black background. The title, Hypericum Working Group is stylised in white elegant font in the centre" width= "1200">
      <br> <br>
      <h2><i>Infinity Minus Infinity</i> (2019) by The Otolith Group</h2>
      <p>"INFINITY minus Infinity draws on several inspirations: the modernist verse of the Jamaican poet Una Marson, the alluvial invocations of the Martinican philosopher and poet Édouard Glissant, the black feminist poetics of the Brazilian philosopher Denise Ferreira da Silva, and the racial formation of geology theorised by British geographer Kathryn Yusoff amongst others in order to envision a black feminist cosmos animated by the principles of mathematical nihilism." I delivered climate science research towards the video work in which I also feature (with moss and greenscreen portal fingers).
        More <a href="https://lux.org.uk/work/infinity-minus-infinity/">here</a> and view the trailer <a href="https://vimeo.com/ondemand/infinityminusinfinity">here</a>.</p>
        <img src="/collaborators3.png" alt="a" width= "1200">
    
      </p>
</DefaultLayout>
