---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="audio and press">
  <h1>Audio and press</h1><br>
        <h3>2021</h3>  
        <br>
        <ul>
            <li><i>OVEREXPOSED Podcast: Water Scarcity for Sonic Acts x JJJNNN</i>	with Andrea and Arif for Ja Ja Ja Nee Nee Nee	
           </li> <a href="https://jajajaneeneenee.com/shows/water-scarcity/"> Link</a>
            <li><i>In both trickles and floods for Framework for Trust</i> with Annie Jael Kwan for FACT
            </li> <a href="https://www.fact.co.uk/resources/2021/09/listen-in-both-trickles-and-floods"> Link</a>
        </ul>
        <br>
        <h3>2020</h3>
        <br>
         <ul>
            <li><i>Angela YT Chan & El Hardwick: Cache Histories</i> with 3hd, 33-33 on Montez Press Radio	
            </li> <a href="https://soundcloud.com/el_hardwick/angela-chan-el-hardwick-cache-histories-for-mpr-x-3hd-18112020> Link</a>
        </ul>
        <br>
        <h3>2019</h3> 
        <br>
        <ul>
            <li><i>How science fiction helps readers understand climate change</i>	by Diego Arguedas Ortiz for BBC Culture
            </li> <a href="https://www.bbc.com/culture/article/20190110-how-science-fiction-helps-readers-understand-climate-change"> Link</a>
        </ul>
        <br>
        <h3>2018</h3>
        <br>
        <ul>
            <li><i>Nature and Music: Moonbow and Worm: art + ecology</i> for Stray Landings on Resonance FM
            </li> <a href="https://www.mixcloud.com/straylandings/nature-music-moonbow-worm-on-resonance-fm/"> Link</a>
        </ul>

</DefaultLayout>
