---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="data">
    <h1>Data</h1>
      <p>
        For many years, exploring how we communicate and understand climate change and intersectional justices through the arts has been the focus of my research practice. 
        As an extension of this, I've become interested in how information shapes our realities and how we storytell these. 
        I have been building on my digital research methodologies and practice by (self)learning and working with data science tools, with an aim to work even more interdisciplinarily and continue to investigate climate and justice related issues. 
      </p>
      <div class="container" data-auto-grid="2">
        
        <h3>Ongoing project</h3>
        <p><i>Investigating a “Sustainable military”: UK defence sector intentions, environmental realities and public perception</i>, a data science project using digital research and investigation practised with the Cambridge Digital Humanities <a href="https://www.cdh.cam.ac.uk/events/35487/#programme"><i>Social Data School</i> </a> (Jan 2023)</p>
          
        <h3>Teaching</h3>
        <p>I am working as a course instructor with <a href="codefirstgirls.com">Code First Girls</a>, whose purpose is to "eliminate the gender diversity gap and transform tech globally, through free education and employment for underrepresented groups."
          </p><p>  </p>
          <ul>
            <li>Introduction to Data and SQL (March – May 2023)</li>
            <li>Introduction to Web Development (April – June 20233)</li>
          </ul>
        
          
         <h3>Roles</h3>
         <p>Data Associate (London)</p>
        
         <h3>Courses</h3>
        <p>I'm a fan of open source and peer learning and have also been sponsored by <a href="codefirstgirls.com">Code First Girls</a> throughout my early stage journey.
         </p> <p>  </p>
          <ul>
            <li>AI and Machine Learning MOOC, Code First Girls</li>
            <li>CFG +Masters in DevOps & Cloud, sponsored by Code First Girls and Cognizant Foundation</li>
            <li>CFG Degree in Data, sponsored by Code First Girls and Cognizant Foundation</li>
            <li>Introduction to Python Programming, Code First Girls</li>
            <li>Introduction to Web Development, Code First Girls</li>
          </ul>
      </div>

</DefaultLayout>
