---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180283446-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180283446-1');
</script>

<DefaultLayout title="Home">
      <h1>Angela YT Chan</h1><br>
      <h4>Hello, I'm an independent artist, curator and research consultant specialising in climate change in relation to people, unfinished histories, technologies and justice. </h4>
</div>
  
 <div class="grid">
      <div class="small-12">
      </div>
      <div class="small-8 medium-6 space-content">
          <img src="/aytc.png" alt="angela crouches sideways from the camera on some brown rocks by the sea. she is wearing an orange jumper, a black tote bag and a black cap. she has black and canary yellow hair and looks ahead" max-width ="500" />
          <p>Image: Angela YT Chan, credit Louise Hobson of <a href="https://www.sway-barry.org/about">SWAY</a>
         </p> 

     </div>
      <div class="small-8 medium-6 offset-medium-6 space-content">
          <h3>My main activities are:</h3>
          <ul>
            <li>arts practice</li> <ul><li>art commissions</li><li>curatorial</li><li>workshops</li><li>public talks</li></ul>
            <li>climate and cultural research and consulting </li>
            <li>teaching</li>
            <li>data practice</li>
          </ul>
        </div>
      </div><br>
         
          <h3>About me</h3>
          <p>
            "Angela YT Chan is an independent researcher, curator and artist specialising in climate change. Her multidisciplinary work examines power in relation to the inequity throughout the colonial and ongoing history of the climate crisis, through self-archiving, data science, technologies, rethinking geographies and speculative fiction. 
            Her recent research-art commissions use video, illustrations, conversations and other research media to focus on water scarcity, conflict and everyday experiences through climate framings and communications. 
            Since 2014, Angela has produced curatorial projects and workshops, collaborating with artists, activists and youth groups (formerly as <a href="/arts_curatorial">Worm: art + ecology</a>). She co-directs the <a href="http://www.lsfrc.co.uk/">London Science Fiction Research Community</a> and is trained as a data engineer. Angela is also a research consultant, having worked in international climate and cultural policy and on climate and sustainability projects for major cultural institutions."
        </p>
        </div></div><br>

        <h3>Current and Upcoming</h3>
        <br>
        <ul>
          <li><a href="https://mhep.github.io/hackathon/">Environmental Data, Media, and the Humanities</a> a Digital Humanities Hackathon (31.05–02.06.2023) with Potsdam Network for Digital Humanities</li>
          <li><a href="https://publicdatalab.org/projects/forestscapes/">forestscapes</a>, a “collective inquiry” into forests as living cultural landscapes with generative arts and sound materials with <a href="https://publicdatalab.org/">The Public Data Lab</a></li>  
          <li><i>Towards More Environmentally and Socially Responsible Digital Practice</i> 3 digital training sessions at <a href="https://www.arebyte.com/dts">arebyte Gallery</a> Book <a href="https://www.eventbrite.co.uk/e/digital-practices-masterclass-with-climate-change-expert-angela-yt-chan-tickets-617584892037">here</a> with the discount code 'DTS50' </li>
          <li><i>Strata of climate landscapes: drawings, text and diagrams</i> a workshop for Polyvocality: Literary and Visual Landscapes Symposium, University of Bristol // University of Southampton</li> 
         <li><a href="https://submerge.me/projects/ctrl-creative-technology-research-labs/">CTRL (CREATIVE TECHNOLOGY RESEARCH LABS)</a> artist talk with Submerge Festival and The Lowry</li>
          <li><i>Storytelling Interconnectedness</i> - a digital mapping and speculative climate fictions workshop - for Futuring Waters in Elefsina, Greece. Programmed by Prof. Jenny Marketou (The New School)</li>
          <li><i>Speculative Space of Galleries, Libraries, Archives and Museums: Workshop 3</i> with Verity Burke at the Science Museum. Programmed by Dr Amy Butt, Dr Megen De Bruin-Mole and Noriko Suzuki-Bosco at the University of Reading</li>  
          <li><i>Uncertain Relations Symposium</i> workshop, University of Greenwich</li>
          <li>Commissioned artist for <a href="https://www.fpg.org.uk/">Focal Point Gallery's</a> Railway Bridge Commission and Sea Change exhibition</li>
          <li><a href="https://www.artagon.org/lieux/maison-artagon/">Maison Artagon</a>, France, Spring-Summer 2023 Season Artist Residency for independent artist and research development</li>
          </ul>
           <p>Updated: 16th May 2023</p>
          <br>
            <p>You can reach me at: angela.yt.chan at gmail dot com</p>
         

</DefaultLayout>
