---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180283446-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180283446-1');
</script>

<DefaultLayout title="Home">
      <h1>Angela YT Chan</h1><br>
      <h4>Hello, I'm an independent artist, curator, data engineer and research consultant specialising in climate change in relation to people, colonial histories, technologies and justice. </h4>
</div>
  
 <div class="grid">
      <div class="small-12">
      </div>
      <div class="small-8 medium-6 space-content">
          <img src="/aytc.png" alt="angela crouches sideways from the camera on some brown rocks by the sea. she is wearing an orange jumper, a black tote bag and a black cap. she has black and canary yellow hair and looks ahead" max-width ="500" />
          <p>Image: Angela YT Chan, credit Louise Hobson of <a href="https://www.sway-barry.org/about">SWAY</a>
         </p> 

     </div>
      <div class="small-8 medium-6 offset-medium-6 space-content">
          <h3>My main activities are:</h3>
          <ul>
            <li>arts practice</li> <ul><li>art commissions</li><li>curatorial</li><li>workshops</li><li>public talks</li></ul>
            <li>climate and cultural research and consulting </li>
            <li>teaching</li>
            <li>data practice</li>
          </ul>
        </div>
      </div><br>
         
          <h3>About me</h3>
          <p>
            "Angela YT Chan is an independent researcher, data engineer and artist specialising in climate change. Her multidisciplinary work examines power in relation to inequity throughout the colonial and ongoing history of the climate crisis. She investigates authoritative climate communications and public perceptions in the timeline of unfolding social changes, and works to accentuate justice through counternarratives explored with videos, illustrations, writing, narrative games, workshops, creative coding and extensive collaborations in arts, technology and activism. 
            Since 2014, Angela has produced curatorial projects and workshops, collaborating with artists, activists and youth groups (formerly as Worm: art + ecology). She co-directs the London Science Fiction Research Community. As an educator, she teaches at universities in climate colonialism, environmental and social justice in art practices, critical research, games, technology and speculative fiction (Goldsmiths UoL, KCL, RCA, WSA), and mentors artists working on new media technologies. Angela is also a research consultant, having worked in international climate and cultural policy and on climate and sustainability projects for major cultural institutions."
            </p>
        </div></div><br>

        <h3>Current and Upcoming</h3>
        <br>
        <ul>
          <li>I'm at <a href="https://itp.nyu.edu/camp/2024/">ITP Camp</a> at NYU, an intensive "un-conference/playground" of technologies and creativity (June 2024)</li>
          <li>Commissioned artist for Grand Union's <a href="https://grand-union.org.uk/projects/the-growing-project/#overview-1">Growing Project</a> year 3 evalutation report in the shape of a digital narrative (twine) game (Oct-July 2024)
          <li><a href="https://publicdatalab.org/projects/forestscapes/">forestscapes</a>, a “collective inquiry” into forests as living cultural landscapes with generative arts and sound materials with <a href="https://publicdatalab.org/">The Public Data Lab</a></li>  
          <li>Facilitating a workshop with the <a href="https://publicdatalab.org/projects/forestscapes/">forestscapes</a> team (KCL, Public Data Lab) at <a href="https://www.easst4s2024.net/theme/">EASST-4S 2024: Making and doing transformations</a> in Amsterdam (July 2024)</li>
          <li>Commissioned artist for a Vital Signs, a Science Gallery and King's College London collaboration on climate change and food security (June-September 2024)</li>
          <li>Commissioned artist for Hopeful Futures by King's College London (Policy Institute and King's Culture) with London local authorities to support policy making in climate mitigation and adaptation thorugh climate assemblies (June-October 2024)</li>
          <li>Data engineering and visualisation for a serious game for policymakers of oil nations towards fossil fuel divestments, with <a href="https://ma.tteo.me/">Matteo Menapace</a> and independent climate change think tank <a href="https://www.e3g.org/about/">E3G</a> (June-Auguest 2024)</li>
          <li>Commissioned artist for <a href="https://www.fpg.org.uk/">Focal Point Gallery's</a> <a href="https://www.fpg.org.uk/exhibition/railway-bridge-commission-angela-yt-chan/">Railway Bridge Commission</a> (Aug - Oct 2023) and <a href="https://www.fpg.org.uk/exhibition/storm-warning/">Storm Warning</a> group exhibition (Oct - Jan 2024)</li>
          <li><a href="https://mhep.github.io/hackathon/">Environmental Data, Media, and the Humanities</a> a Digital Humanities Hackathon (31.05–02.06.2023) with Potsdam Network for Digital Humanities</li>
          <li><i>Towards More Environmentally and Socially Responsible Digital Practice</i> 3 digital training sessions at <a href="https://www.arebyte.com/dts">arebyte Gallery</a></li>
</ul>
           <p>Updated: 4th June 2024</p>
          <br>
            <p>You can reach me at: angela.yt.chan at gmail dot com</p>
         

</DefaultLayout>
