---
import DefaultLayout from '../layouts/DefaultLayout.astro' 
---
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180283446-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180283446-1');
</script>

<DefaultLayout title="Home">
      <h1>Angela YT Chan</h1><br>
      <h4>Hello, I'm an independent artist, curator, data engineer and research consultant specialising in climate change in relation to people, colonial histories, technologies and justice. </h4>
</div>
  
 <div class="grid">
      <div class="small-12">
      </div>
      <div class="small-8 medium-6 space-content">
          <img src="/aytc.png" alt="angela crouches sideways from the camera on some brown rocks by the sea. she is wearing an orange jumper, a black tote bag and a black cap. she has black and canary yellow hair and looks ahead" max-width ="500" />
          <p>Image: Angela YT Chan, credit Louise Hobson of <a href="https://www.sway-barry.org/about">SWAY</a>
         </p> 

     </div>
      <div class="small-8 medium-6 offset-medium-6 space-content">
          <h3>My main activities are:</h3>
          <ul>
            <li>arts practice</li> <ul><li>art commissions</li><li>curatorial</li><li>workshops</li><li>public talks</li></ul>
            <li>climate and cultural research and consulting </li>
            <li>teaching</li>
            <li>data practice</li>
          </ul>
        </div>
      </div><br>
         
          <h3>About me</h3>
          <p>
            "Angela YT Chan is an independent researcher, data engineer and artist specialising in climate change. Her work explores power, narrative framings and technology in the colonial and ongoing history of the climate crisis. Angela works with a variety of media and processes, such as video, illustration, writing, narrative games, workshops, sound, creative coding, and her projects often include extensive collaborations in arts, technology, policy and activism (recently Public Data Lab, The Policy Institute). Highlight residencies include Arts Catalyst, FACT/Jerwood, Sonic Acts, Primary, Abandon Normal Devices, and Tactical Tech. 
             <br><br>Angela has produced curatorial projects and workshops, collaborating with artists, activists and youth groups (formerly under the name Worm: art + ecology, 2014-2020). She co-directs the London Science Fiction Research Community. As a university educator, she teaches climate colonialism, environmental and social justice in art practices, critical research, games and speculative fiction (Goldsmiths UoL, KCL, RCA, WSA), and mentors artists working on digital media technologies. Angela is also a research consultant, having worked in international climate and cultural policy at Julie's Bicycle and independently on climate projects for major cultural institutions. She has recently joined INTERPRT, a research agency that pursues environmental justice through spatial and visual investigations."
          </p>
        </div></div><br>

    <h3>Current and Upcoming</h3>
        <br>
        <ul>
          <li><a href="https://exposingtheinvisible.org/en/news/call-investigation-institute-2024/">Tactical Tech: Exposing the Invisible, Digital Investigation Residency</a>, a research residency using investigation practices, topics, methods and tools on the themes “Critical Climates”, “Political Influence” and “AI and Us”, November 2024</li>
          <li><a href="https://www.hgc.hosted.york.ac.uk/research-axes/">Heritage for Global Challenges Research Centre</a> (HGCRC, Department of Archaeology at the University of York), a research and development residency (my project Climate | Tech Colonialism critiques techno-fixes to climate issues through a history of climate technologies), December 2024–April 2025</li> 
          <li><a = href"https://aa2a.org/about-aa2a/">AA2A</a> Artist Residency for 2024-2025 at Nottingham Trent University, exploring and producing digital media and sculptural installation making for my HGCRC project Climate | Tech Colonialism </li>
          <li><a href="https://mosaicrooms.org/event/weathered-radios/">Weathered Radio</a> generative soundscaping workshop at Mosaic Rooms</li> 
          <li>Selected to participate in Cohort 6 of <a href= “https://climatebase.org/fellowship”>The Climatebase Fellowship</a>, an industry-focused 12-week climate literacy accelerator with a climate expert-led curriculum and project incubation support</li>
          <li>Supervising student dissertations in media theory and game studies for the MA Global Media Management at Winchester School of Art (University of Southampton)</li>
          <li>Mentoring Watershed's <a href="https://www.watershed.co.uk/studio/projects/more-ai-sandbox">More Than AI Sandbox</a> teams</li>
          <li>Commissioned artist for a Vital Signs, a Science Gallery and King's College London collaboration on climate change and food security with KCL students to produce a creative research project and zine (June-November 2024)</li>
          <li>Commissioned artist for Hopeful Futures by King's College London (Policy Institute and King's Culture) with London local authorities to support policy making in climate mitigation and adaptation through climate assemblies (June-October 2024)</li>
          <li>Data engineering and visualisation for a serious game for policymakers of oil nations towards fossil fuel divestments, with <a href="https://ma.tteo.me/">Matteo Menapace</a> and independent climate change think tank <a href="https://www.e3g.org/about/">E3G</a> (Autumn 2024)</li>
          </ul>
    <h3>Previous</h3>
        <br>
        <ul>
          <li>Participated in and led a workshop at <a href="https://itp.nyu.edu/camp/2024/">ITP Camp</a> at NYU, an intensive 4-week "un-conference/playground" of technologies and creativity (June 2024)</li>
          <li>Commissioned artist for Grand Union's <a href="https://grand-union.org.uk/projects/the-growing-project/#overview-1">Growing Project</a> year 3 evalutation report in the shape of a digital narrative (twine) game (Oct-July 2024) now playable on <a href="https://www.grand-union.org.uk/what-were-doing/the-growing-project/the-growing-project-digital-narrative-game">itch.io</a>
          <li>Facilitated a workshop with the <a href="https://publicdatalab.org/projects/forestscapes/">forestscapes</a> team (KCL, Public Data Lab) at <a href="https://www.easst4s2024.net/theme/">EASST-4S 2024: Making and doing transformations</a> in Amsterdam (July 2024). <a href="https://publicdatalab.org/projects/forestscapes/">forestscapes</a>, is a longer-term collaboration - a “collective inquiry” into forests as living cultural landscapes with generative arts and sound materials with <a href="https://publicdatalab.org/">The Public Data Lab</a></li> 
          <li>Commissioned artist for <a href="https://www.fpg.org.uk/">Focal Point Gallery's</a> <a href="https://www.fpg.org.uk/exhibition/railway-bridge-commission-angela-yt-chan/">Railway Bridge Commission</a> (Aug - Oct 2023) and <a href="https://www.fpg.org.uk/exhibition/storm-warning/">Storm Warning</a> group exhibition (Oct - Jan 2024)</li>
          <li>Facilitated a workshop with the <a href="https://publicdatalab.org/projects/forestscapes/">forestscapes</a> team <a href="https://mhep.github.io/hackathon/">Environmental Data, Media, and the Humanities</a> a Digital Humanities Hackathon (31.05–02.06.2023) with Potsdam Network for Digital Humanities</li>
          <li>Led <i>Towards More Environmentally and Socially Responsible Digital Practice</i> 3 digital training sessions at <a href="https://www.arebyte.com/dts">arebyte Gallery</a></li>
        </ul>
           <p>Updated: 5th September 2024</p>
          <br>
            <p>You can reach me at: angela.yt.chan at gmail dot com</p>
         

</DefaultLayout>
