---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="research">

      <h1>Research and Consulting</h1><br>


    <div class="container" data-auto-grid="2">
      <p>I also work as a research consultant on climate issues for major cultural and academic institutions to inform both public programming and organisations' people-centred frameworks for climate change (Wellcome Collection, Barbican, Loughborough University)
      </p>
      <p>
        Previously, I worked with climate arts charity Julie's Bicycle and researched on international climate and cultural policy. Here's the <a href="https://juliesbicycle.com/policyportal/">Policy Portal</a> of reports we wrote towards UNCOP26, with support from international cultural ministers, arts councils and artists. 
      </p>
    </div>
</DefaultLayout>
