---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="teaching">

  <h1>Teaching</h1><br>
    <p>My teaching experience covers intersectional climate arts; creative climate communication; climate change's colonial history and racial justice; climate science fiction and worldbuilding; and environmentally and socially responsible arts practice.
    </p>
  
 <div class="grid">
      <div class="small-12">
      </div>
      <div class="small-8 medium-6 space-content">
      <h2>I am a Visiting Lecturer for:</h2>
      <ul>
        <li>BFA Fine Art at Goldsmith's, University of London (2021-2023) </li> 
        <li><i>Games and Playful Narratives</i> strand for the MA in Global Media Management module Global Media 2: Industries and Technologies at Winchester School of Art with Francis Gene-Rowe (2023). <br></brb> 
          I supervised five MA students on the subject of video games through themes of gender and anti-war narratives.</li>
        <br>
        <ul>And previously: 
          <li><i>Climate Colonialism</i>, a workshop module for MFA Art Writing at Goldsmith's, University of London (2022)</li>
          <li><i>An Ecology of Making</i>, a one-week course running for two semesters across MFA programmes at Royal College of Art London, with Jesse Ash (2021-22). </li>
        </ul>
      </p>
         </div>
      <div class="small-8 medium-6 offset-medium-6 space-content">
        <img src="/teaching1.png" alt="a screenshot of a seminar activity prompt for understanding game development team roles" width ="500" />
          <br>
          <img src="/teaching.png" alt="a screenshot of a digital mindmap from a seminar on colonial power and environmental issues" width ="500" />
       </div> </div><br>
        <h2>Guest Lectures</h2>
          <p>I also deliver Guest Lectures for undergraduate and postgraduate courses, previously at UAL (Central Saint Martins, Chelsea College of Art, London College of Fashion), Royal College of Art London, Architecture Association (AA), Falmouth University, CIEE Global Institute, Trondheim Academy of Fine Art and University of Kent .
      </p> 
</DefaultLayout>
