---
const currentYear = new Date().getFullYear()
---
<footer>
  <section class="padding-16 color-neutral">
    <div class="container">
      &copy; {currentYear} - Web design coded by Angela YT Chan with <a href="https://astro.build/">Astro</a>. 
        <div id="wcb" class="carbonbadge wcb-d"></div>
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    </div>
  </section>
</footer>
